body{
  background-image: url("stupa_Borobudur.jpg");
  background-size: cover;
}

.justify{
  margin: auto;
  width: 750px;
  height: 500px;
  color: blue;
  background-image: url("avocado.jpg");
  border: 3px solid red;

}

.repeat{
  margin: auto;
  background-image: url("avocado.jpg");
  background-repeat: repeat-x;
  border: 3px solid red;
  width: 750px;
  height: 500px;

}
